<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightTheme"
        tools:targetApi="31">

        <activity
            android:name=".presentations.splash.SplashActivity"
            android:exported="true">
<!--            comment test homeactivity-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!-- Language screen -->
        <activity
            android:name=".presentations.language.LanguageActivity"
            android:exported="true">
        </activity>

        <!-- Activity thiết lập pattern mới -->
        <activity
            android:name=".screen.set_new_lock_pattern.SetLockPatternActivity"
            android:exported="true">
        </activity>

        <!-- Activity xác thực pattern -->
        <activity
            android:name=".screen.validate_lock_pattern.LockPatternActivity"
            android:exported="true">
        </activity>

        <!-- Home screen -->
        <activity
            android:name=".screen.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
